<a href="https://colab.research.google.com/github/geodiscovery/try/blob/master/JudeEjepu_DataVisualisation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # This module will be used for array related operations
import pandas as pd # This module will be used for working with .csv files
import matplotlib.pyplot as plt # This module will be used for data visualisation

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/world-happiness-report-2021.csv')

In [ ]:
df1.head(5) # To dispaly the first 5 rows of the dataset

  Country name  ... Dystopia + residual
0      Finland  ...               3.253
1      Denmark  ...               2.868
2  Switzerland  ...               2.839
3      Iceland  ...               2.967
4  Netherlands  ...               2.798

[5 rows x 20 columns]

In [ ]:
df1.tail(10) # To dispaly the first 5 rows of the dataset

    Country name  ... Dystopia + residual
139      Burundi  ...               2.876
140        Yemen  ...               1.776
141     Tanzania  ...               1.263
142        Haiti  ...               2.060
143       Malawi  ...               2.190
144      Lesotho  ...               1.800
145     Botswana  ...               0.648
146       Rwanda  ...               1.095
147     Zimbabwe  ...               1.205
148  Afghanistan  ...               1.895

[10 rows x 20 columns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

## Observations/inferences

The first observation from this dataset is that there are two data types: 1. float(64), which has 18 counts and 2. object class which has 2 counts.
The second is that there are a total of 149 entries.

In [ ]:
df1.describe() # This displays the descriptive statistics of the dataframe

       Ladder score  ...  Dystopia + residual
count    149.000000  ...           149.000000
mean       5.532839  ...             2.430329
std        1.073924  ...             0.537645
min        2.523000  ...             0.648000
25%        4.852000  ...             2.138000
50%        5.534000  ...             2.509000
75%        6.255000  ...             2.794000
max        7.842000  ...             3.482000

[8 rows x 18 columns]

*Question: Is there any missing values in each column of the provided dataset#*
**Answer: From the dispaly below, there are no missing datasets.**

In [ ]:
df1.isna().sum() #This shows the missing values contained in the dataset and provides the summation for all the columns

Country name                                  0
Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
dtype: int64

*Question: How many unique countries are there in western europe?*
**Answer: 21 countries**

In [ ]:
df1['Regional indicator'].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [35]:
print(df1['Regional indicator'].unique())

['Western Europe' 'North America and ANZ' 'Middle East and North Africa'
 'Latin America and Caribbean' 'Central and Eastern Europe' 'East Asia'
 'Southeast Asia' 'Commonwealth of Independent States'
 'Sub-Saharan Africa' 'South Asia']

In [44]:
df1.loc[df1['Regional indicator'] == 'Western Europe']

      Country name  ... Dystopia + residual
0          Finland  ...               3.253
1          Denmark  ...               2.868
2      Switzerland  ...               2.839
3          Iceland  ...               2.967
4      Netherlands  ...               2.798
5           Norway  ...               2.580
6           Sweden  ...               2.683
7       Luxembourg  ...               2.653
9          Austria  ...               2.784
12         Germany  ...               2.824
14         Ireland  ...               2.384
16  United Kingdom  ...               2.596
19         Belgium  ...               2.862
20          France  ...               2.521
22           Malta  ...               2.268
26           Spain  ...               2.513
27           Italy  ...               2.794
38          Cyprus  ...               2.578
57        Portugal  ...               2.225
67          Greece  ...               2.561
73    North Cyprus  ...               1.653

[21 rows x 20 columns]

In [47]:
df1.loc[df1['Country name'] == 'India'] # Filter and display the world happiness report score for the country 'India' in year 2021

    Country name  ... Dystopia + residual
138        India  ...               1.405

[1 rows x 20 columns]